<form action="/buy-book" method="POST">
    <label for="book-title">Book Title:</label>
    <input id="book-title" type="text" name="title" />
    <label for="book-author">Book Author:</label>
    <input id="book-author" type="text" name="author" />
    <label for="book-price">Price:</label>
    <input id="book-price" type="number" step="0.01" name="price" />
    <button type="submit">Buy Now</button>
  </form>